.rotate {
  animation: rotation 2s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
